.results{
    display: flex!important;
    flex-direction: row!important;
    flex-wrap: nowrap!important;
    justify-content: space-around;
    width: 200px!important;

    margin-top: 200px!important;
}


.register{
    float: right!important;
    margin: 10px;
}


.second{
    margin-top: 10px;
    
}

#resultsPerCenter{
    width: 300px!important;
}

.name{
    background-color: lightgray;
    margin-bottom: 5px;
}